p {
  padding:20px;
}
/*the below section stop the list numbers from moving all the way to the left of the screen*/
.center-list {
  text-align: center;
  list-style-position: inside;
}

#turtle-relative {
  position: relative;
  left: 200px;
}

#relative-example {
  max-width: 50%;
  height: auto;
  padding: 50px;
}

.turtle-box {
  position:relative;
  width: 50vw;
  height:10vw;
  border-color: black;
  border-style: solid;
  display: inline-block;
}}

.absolute-turtle {
 height: 250px;
 width:auto;

}

#abs-moved-turtle {
  position: absolute;
  left:50vw;
  bottom: 10vw;
}

.spacer {
  padding: 50px;
}

#fixed-turtle {
  position: fixed;
  bottom:0;
  left:0;
  width:5vw;
}

/* For our interactive button on the JS dom page */

#exampleJsDomButton {

  font-size: 1.5vw;
	font-weight: 500;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: black;
	padding: 12px 20px;
	text-align: center;
}

#changedJsDOMButton {
  font-size: 1.5vw;
	font-weight: 500;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: Gray;
	padding: 12px 20px;
	text-align: center;
}
